# is for other packages used for testing & development.
# Put dependencies used by the unit tests in setup.py. This file
autopep8
coverage
detect-secrets
flake8
ipdb
mypy
pre-commit
pyjwt
pytest
setuptools-scm
types-PyMySQL
types-python-dateutil
types-pytz
types-PyYAML
types-requests
types-setuptools
types-simplejson
types-six
urllib3==1.26.19
setuptools-scm
vcrpy
git+https://github.com/techservicesillinois/vcrpy-cleaner.git
yq
# Requirements are also here because pyproject.toml and pip are dumb
requests 
