argcomplete==3.5.3
asttokens==3.0.0
autopep8==2.3.2
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
coverage==7.6.12
decorator==5.2.1
detect-secrets==1.5.0
distlib==0.3.9
exceptiongroup==1.2.2
executing==2.2.0
filelock==3.17.0
flake8==7.1.2
identify==2.6.8
idna==3.10
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.18.1
jedi==0.19.2
matplotlib-inline==0.1.7
mccabe==0.7.0
multidict==6.1.0
mypy==1.15.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
prompt_toolkit==3.0.50
propcache==0.3.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
PyJWT==2.10.1
pytest==8.3.5
PyYAML==6.0.2
requests==2.32.3
setuptools-scm==8.2.0
stack-data==0.6.3
tomli==2.2.1
tomlkit==0.13.2
traitlets==5.14.3
types-PyMySQL==1.1.0.20241103
types-python-dateutil==2.9.0.20241206
types-pytz==2025.1.0.20250204
types-PyYAML==6.0.12.20241230
types-requests==2.31.0.6
types-setuptools==75.8.2.20250301
types-simplejson==3.20.0.20250218
types-six==1.17.0.20250304
types-urllib3==1.26.25.14
typing_extensions==4.12.2
urllib3==1.26.19
vcr_cleaner @ git+https://github.com/techservicesillinois/vcrpy-cleaner.git@82bd9745642e81b2f794781aec89676540fab5cc
vcrpy==7.0.0
virtualenv==20.29.2
wcwidth==0.2.13
wrapt==1.17.2
xmltodict==0.14.2
yarl==1.18.3
yq==3.4.3
