interactions:
- request:
    body: '{"grant_type": "password", "username": "JOE", "password": "NOTAPASSWORD",
      "client_id": "FAKEID", "client_secret": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://notauri.edu/api/oauth
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"invalid_client","status":400,"detail":"The
        client credentials are invalid"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 400
      message: invalid_client
version: 1
