interactions:
- request:
    body: '{"grant_type": "password", "username": "security-clearpass-d", "password":
      "8LXSrz+0+dIcrPHdZyqWs5xSQJ1nmxEXUaH+7ZXO5oYP", "client_id": "SecurityAPIDEV",
      "client_secret": "l4C2lVOTXNcie8qXCEvtvweBVWfM+S9Svpd7MMPt4Owl"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cplab.techservices.illinois.edu/api/oauth
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"invalid_client","status":400,"detail":"The
        client credentials are invalid"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 400
      message: invalid_client
version: 1
