interactions:
- request:
    body: '{"grant_type": "password", "username": "JOE", "password": "NOTAPASSWORD",
      "client_id": "FAKEID", "client_secret": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://notauri.edu/api/oauth
  response:
    body:
      string: '{"access_token": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/endpoint?filter=%7B%22mac_address%22%3A%20%22123123123123%22%7D
  response:
    body:
      string: '{"_embedded":{"items":[{"id":4524,"mac_address":"123123123123","status":"Disabled","randomized_mac":true,"attributes":{"Disabled
        By":"TESTING","Disabled Reason":"Still testing..."},"added_at":"Nov 15, 2023
        14:52:34 CST","updated_at":"Aug 05, 2024 11:31:45 CDT","_links":{"self":{"stuff":"cleaned"}}}]}}'
    headers:
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/device?filter=%7B%22mac%22%3A%20%2212-31-23-12-31-23%22%7D
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"Forbidden","status":403,"detail":"Access
        denied"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/guest?filter=%7B%22mac%22%3A%20%2212-31-23-12-31-23%22%7D
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"Forbidden","status":403,"detail":"Access
        denied"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/session?filter=%7B%22mac_address%22%3A%20%22123123123123%22%7D
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"Forbidden","status":403,"detail":"Access
        denied"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/insight/endpoint/mac/123123123123
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"Not
        Found","status":404,"detail":"Object not found"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 404
      message: Not Found
version: 1
