interactions:
- request:
    body: '{"grant_type": "password", "username": "JOE", "password": "NOTAPASSWORD",
      "client_id": "FAKEID", "client_secret": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://notauri.edu/api/oauth
  response:
    body:
      string: '{"access_token": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/endpoint/mac-address/deadbeef1234
  response:
    body:
      string: '{"type":"http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html","title":"Not
        Found","status":404,"detail":"Object not found"}'
    headers:
      Content-Type:
      - application/problem+json
    status:
      code: 404
      message: Not Found
version: 1
