interactions:
- request:
    body: '{"grant_type": "password", "username": "JOE", "password": "NOTAPASSWORD",
      "client_id": "FAKEID", "client_secret": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://notauri.edu/api/oauth
  response:
    body:
      string: '{"access_token": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
    method: GET
    uri: https://notauri.edu/api/endpoint/mac-address/123123123123
  response:
    body:
      string: '{"id":4524,"mac_address":"123123123123","status":"Disabled","randomized_mac":true,"attributes":{"Disabled
        By":"automation","Disabled Reason":"Disabled"},"added_at":"Nov 15, 2023 14:52:34
        CST","updated_at":"Mar 28, 2024 15:31:54 CDT","stuff":"deleted"}'
    headers:
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": 4524, "mac_address": "123123123123", "status": "Known"}'
    headers:
      Authorization:
      - Bearer FAKE_TOKEN
      Content-Type:
      - application/json
    method: PUT
    uri: https://notauri.edu/api/endpoint/4524
  response:
    body:
      string: '{"id":4524,"mac_address":"123123123123","status":"Known","randomized_mac":true,"attributes":{},"added_at":"Nov
        15, 2023 14:52:34 CST","updated_at":"Aug 05, 2024 11:27:32 CDT","_links":{"self":{"href":"https:\/\/cplab.techservices.illinois.edu\/api\/endpoint\/4524"}}}'
    headers:
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: OK
version: 1
