interactions:
- request:
    body: '{"grant_type": "password", "username": "JOE", "password": "NOTAPASSWORD",
      "client_id": "FAKEID", "client_secret": "NOTASECRET"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cplab.techservices.illinois.edu/api/oauth
  response:
    body:
      string: '{"access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjI1MDgxOTIwMDB9.oZTb-7dlzqHdcWGLXVKmAu6m1JuT2y_gu7I-TYNF6Tk"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
